h1, h3, p {
    text-align: center;
}
.menu {
    width: 80%;
    background-color: pink;
    margin-right: auto;
    margin-left: auto;
}
body { 
    background-image: none;
}
.flavor {
    text-align: center;
    width: 50%
}
.price {
    text-align: center;
    width: 50%
    
}
.item p { 
    display: inline-block;
}
